BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SortIncludes: false
PointerAlignment: Right
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
